$font-sans: "Montserrat", sans-serif;
$font-serif: "Merriweather", serif;

$color-gray: #E9E8E9;
$color-graydark: #B3B0B5;
$color-dark: #261D2B;
$color-purple: #51297E;

$color-font: #000;
$color-font-meta: $color-graydark;

$transition: all 175ms cubic-bezier(0.400, 0.150, 0.000, 0.975);
