body#tinymce.wp-editor { 
	background: #fcfcfc;
	color: #444;
	font-family: verdana;
	font-size: 0.8em;
	line-height: 22px;
}
body#tinymce.wp-editor a {
	color: #3366bb;
	text-decoration: none;
}
body#tinymce.wp-editor a:hover {

}
