menu {
	background:transparent;
	height:41px;
	line-height:41px;
	padding:0;
	margin:45px auto 0;
	float:right;
}

ul {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}


li {
	float:left;
}

.delta li  {
	float:left;
    margin-bottom: 5px;
    width: 100%;
}

menu li a {
	background:transparent;
	color:#51297E;
	line-height:41px;
	height:41px;
	padding:0 5px;
	margin-left:5px;
	display:block;
	position:relative;
}

menu li a:hover {
	background:#f4f4f4;
}

menu li.selected a {
	background:#51297E;
	color:#fff;
}

menu li.current-menu-item a, menu li.current-page-ancestor a {
	border-bottom:3px solid #51297E;
}

a.logo {
	background:url(../img/piratar_logo.png);
    background-size: 183px 60px;
	width: 183px;
    height:60px;
	display:block;
	text-indent:-3000px;
	float:left;
    position: relative;
    z-index: 502;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    margin-top:22px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	a.logo {
	    background: url(../img/piratar_logo_x2.png) no-repeat;
	    background-size: 183px 60px;
        width: 183px;
        height:60px;
	}
    
    menu li.selected a:before { 
        background:url(../img/menu_arrowx2.png);
        background-size: 45px 15px;
        width:45px;
        height:15px;
    }
}

.menubar {
	float:right;
	width:calc(100% - 245px);
	margin-left:44px;
}

.searchbox {
    background: #51297E none repeat scroll 0 0;
    float: right;
    height: 32px;
    padding: 5px;
    position: absolute;
    top: 121px;
    width: 344px;
    border: 1px solid #51297E;
    right:10px;
    display: none;
}

.scroll .searchbox {
    top: 79px;
}

.searchbox input[type="text"]{
	border:1px solid #51297E;
	float:left;
	height: 30px;
	line-height:30px;
    padding: 0 5px;
	width:300px;
	font-family: 'Open Sans', sans-serif;
	text-indent: 5px;
    font-size:15px;
}

.searchbox input[type="submit"]{
	background:#51297E;
	border:1px solid #51297E;
	float:left;
	height:32px;
	width:32px;
	text-indent:300px;
	overflow:hidden;
    cursor: pointer;
}

.searchbox span {
    position: relative;
    color:#fff;
}

.searchbox span:after {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 16px;
    pointer-events: none;
    position: relative;
    left: 320px;
    top: -26px;
}

#svunta_menu-item-61, #svunta_menu-item-62, #svunta_menu-item-63, #svunta_menu-item-64, #svunta_menu-item-65, #svunta_menu-item-66 {
    display: none;
}
.submenu {
    display: block;
    left: 0;
    position: absolute;
    top: 120px;
    width: 100%;
    z-index: 400;
    background-color: #fff;
    
}
.submenu div.rammi {
    color: #111;
    min-height: 250px;
    padding: 1em;
    position: relative;
    width: 100%;
    z-index: -1;
    max-width: 1140px;
    margin: 0 auto;
}
.submenu div.rammi {
    display: none;
}
.submenu div.rammi.active {
    display: block;
}
.submenu div.rammi .padding {
    float: left;
    width: 75%;
}
.submenu div.rammi .info {
    float: left;
    font-weight: 400;
    width: 25%;
}
.submenu div.rammi h2 {
    border-bottom: 3px solid #51297e;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
    width: 97%;
}
.submenu div.rammi h3 {
    color: #fff;
    font-size: 16px;
    margin: 0 0 1px;
    padding: 0;
}
.submenu div.rammi a {
    color: #444;
    display: block;
    font-size: 15px;
}
.submenu div.rammi ul {
    float: left;
}

.submenu div.rammi ul .content { font-weight: 300; }
.submenu div.rammi ul li {
    float: left;
    font-weight: 700;
    margin-right: 20px;
    padding: 10px 0;
    width: 245px;
}
.submenu > .rammi > .padding > ul > li > a {
    border-bottom: 3px solid #51297e;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    width: 97%;
}
.submenu div.rammi ul li span {
    font-size: 14px;
    font-weight: 400;
}
.submenu div.rammi ul li ul li {
    border-top: 0 none;
    float: left;
    font-weight: normal;
    margin-right: 0;
    margin-top: 1px;
    padding: 0;
    text-indent: 10px;
    width: 250px;
}
.submenu > .rammi > .padding > ul > li {
    min-height: 100px;
}


.overlayer {
    background: rgba(0, 0, 0, 0) repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 120px;
    width: 100%;
    z-index: 500;
}

.overlayer.open {
    background: rgba(0, 0, 0, 0.4) repeat scroll 0 0;
    display: block;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


a.searchicon {
    float: right;
    height: 41px;
    overflow: hidden;
    text-indent: -3000px;
    width: 41px;
    position: relative;
    margin-top: 45px;
    
}

a.searchicon:hover {
    background: #cfd0cb;
    
}

a.searchicon.selected {
    background:#51297E;
    color:#fff;
    
}

a.searchicon::after {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    left: 12px;
    pointer-events: none;
    position: absolute;
    top: 12px;
    text-indent:0;
}

a.searchicon.selected::after {
    content: "\f00d";  
}

.maillinkur { font-weight:normal !important; font-size: 14px; }

.readmore { 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff none repeat scroll 0 0;
    color: #51297E !important;
    display: block;
    font-size: 14px !important;
    font-weight: normal !important;
    padding: 5px;
    width: 80px;
}

.svunta_title {
    clear: both;
    color: #444 !important;
    float: left;
    margin-bottom: 20px !important;
    text-align: left;
    width: 100%;
}

#svunta_menu-item-603 .tour { 
    width:calc(50% - 20px);
    min-height:140px;
    background: transparent none repeat scroll 0 0 !important;
    border-bottom:none;
    font-size: 13px;
}

#svunta_menu-item-603 .tour .mynd { 
    height: 90px;
}


#svunta_menu-item-603 .tour h2 {
    background: transparent none repeat scroll 0 0 !important;
    color: #fff;
    float: left;
    font-size: 16px;
    margin:5px 0 0;
    position: relative;
    width: 100%;
}

#svunta_menu-item-543 ul li { 
    text-align: left; 
    font-size: 14px;
}

#svunta_menu-item-543 .info ul li { 
    border-top: 1px solid #fff;
}