
@media only screen and (max-width: 940px) {
    #grunge { display:block; }
    .menubar, .secondary {
	   display: none;
    }
    .socialbar { overflow:hidden; }
    header { position: relative; }
    #grunge { position: absolute; }
    body { margin: 0 auto !important; }

    #imagebanner, #imagebanner article {
        height:300px;
    }
    
    #imagebanner2, #imagebanner2 article {
        height:300px !important;
    }
    
    #boxin_kynning .box {            
        width: calc(100% - 40px);
        margin: 20px 0;
    }
    
    .ord {
        float: left;
        width:calc(100% - 40px);
    }
    
    .blogarticle.fyrsta, .blogarticle {
        margin-right: 0px;
        width: calc(100% - 0px);
    }
    
    .blogarticle.fyrsta figure {
        height:200px;
    }
    
    footer .box.first, footer .box, footer .box.last {
        width:100%;
        margin:0;
    }
	
	.alpha {
		width: calc(100% - 160px);
		float: left;
		margin-right: 0px;
		line-height: 1.2;
		font-size: 16px;
	}
}

@media only screen and (max-width: 480px) {
     .blogarticle figure  {
        width:100%;
        height:180px;
        margin-bottom: 20px;
    }
    
    .blogarticle .textinn, .blogarticle .smaforsidutexti, .blogarticle.nedri .smaforsidutexti {
        width:100%;
        padding: 0 0px;
        height:auto;
    }
    
    .blogarticle, .blogarticle.fyrsta {
        height:auto;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #51297e;
    }
	
	.alpha {
		width: 100%;
	}
}