@import "variables";
@import "./components/bootstrap/scss/bootstrap";

body {
    font-size: 18px;
    background-color: #fff;
    color: #222;
    font-family: $font-serif;
    padding:0;
    margin: 84px 0 0 0;
    height: 100%;
    line-height: 1.75;
}

h1, h2, h3, h4, h5 {
    font-family: $font-sans;
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
    margin: 1.5em 0 1em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

a, a:hover {
    transition: $transition;
}

p {
    margin: 1em 0;
}

.btn {
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: $shadow;
    border: 0;
}

//
// Sections
//

.section {
    padding: 4em;
    .row > div > h2:first-child,
    .row > div > h1:first-child {
        margin-top: 0;
    }
    ul {
        padding-left: 1em;
    }
    h2.the-title {
        text-align: center;
        margin: 0;
        font-size: 1.25em;
        font-weight: 500;
        color: $gray;
        margin-bottom: 2em;
        position: relative;
        top: -0.75em;
    }
    a {
        border-bottom: 2px solid rgba(0,0,0,0.1);
    }
    a.btn {
        border: 0;
    }
    // Fonts
    &.section-text-white {
        color: #fff;
        background: $gray-dark;
    }
    &.section-align-center {
        text-align: center;
    }
    // Background
    &.section-bg-image {
        background-size: cover;
        padding: 0;
        .section-overlay {
            padding: 4em;
            @include gradient-y(fade_out($gray-dark, 1), fade_out($gray-dark, 0.65));
        }
    }
    &.section-bg-gray {
        background-color: $gray-lightest;
    }
}


// Card

.section-card {
    padding: 4em;
    h1 {
        margin: 1rem 0;
    }
    h2 {
        font-size: 1em;
        font-family: $font-serif;
        font-weight: 500;
        margin: 1rem 0 1.5rem 0;
    }
}

// Page title

.section-title {
    padding: 2em 4em;
    background: $brand-primary;
}

// Grid

.section-grid {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 2px;
        margin-right: -1px;
        margin-left: -1px;
    }
    .grid-item {
        padding-left: 1px;
        padding-right: 1px;
        vertical-align: bottom;
        min-height: 16em;
        margin-bottom: 2px;
        h1 {
            font-size: 1.25em;
            margin: 0;
            a {
                color: #fff;
            }
        }
        article {
            color: #fff;
            padding: 2em;
            min-height: 24em;
            position: relative;
            background-color: $brand-primary;
            .grid-wrap {
                position: absolute;
                bottom: 2em;
                left: 2em;
                right: 2em;

            }
        }
        &.grid-bg-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-clip: content-box;
            article {
                background-color: transparent;
                @include gradient-y(fade_out($gray-dark, 1), fade_out($gray-dark, 0.65));
            }
            .date {
                color: rgba(255,255,255,0.65);
            }
        }
    }
}


// People

.section-people {
    h2.the-title {
        margin-bottom: 1em;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 2em;
        a {
            font-size: 1em;
        }
    }
    .row {
        padding-left: 0;
    }
    .person {
        display: block;
        list-style: none;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;
        width: 20%;
        float: left;
        padding: 0 15px;
        font-size: 0.85em;
        figure {
            position: relative;
            margin-bottom: 0;
            div {
                border-radius: 100%;
                overflow: hidden;
            }
            .person-overlay {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                @include gradient-y(fade_out($gray-dark, 1), fade_out($gray-dark, 0.65));
            }
            img {
                max-width: 100%;
            }
            .person-num {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 1rem;
                background: $gray-dark;
                color: #FFF;
                font-family: $font-sans;
                font-weight: 700;
                text-align: center;
                line-height: 1.4rem;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .person-wrap {
            padding-top: 0.25em;
            text-align: center;
            line-height: 1.25;
            position: absolute;
            bottom: 1em;
            left: 0;
            width: 100%;
            color: #fff;
            a {
                color: #fff;
                font-weight: 700;
            }
            .person-meta {
                color: rgba(255,255,255,0.65);
                display: block;
            }
        }
    }
}

// Footer

.section-footer {
    font-size: 0.85em;
    color: #fff;
    background: #000;
    .logo img {
        height: 60px;
        width: auto;
        fill: currentColor;
    }
    .footer-about {
        text-align: center;
        margin-top: 2em;
        color: rgba(255,255,255,0.65);
        font-family: $font-sans;
        a {
            color: rgba(255,255,255,0.65);
        }
    }
    h3 {
        margin-top: 0;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 0.5rem;
            width: 3em;
            height: 3em;
            text-align: center;
            line-height: 2.9em;
            background: #fff;
            border-radius: 1.5em;
            i {
                font-size: 1.5em;
                color: $gray-dark;
                vertical-align: middle;
            }
        }
    }
}

//
// Custom for individual pages
//

// Home

.home .section-bg-image h1 {
    margin-top: 4em !important;
}

.home .sb_instagram_header {
    display: none;
}

.home .section #sb_instagram #sbi_images {
    padding: 0;
    .sbi_item {
        padding: 1px !important;
    }
}

.home .section #sb_instagram #sbi_load {
    margin-top: 3em;
    a {
        line-height: 2;
        padding: .5rem 1.5rem;
        border-radius: 2em;
        font-size: 1rem;
        background: #000;
        font-family: $font-sans;
        text-transform: uppercase;
    }
    .sbi_follow_btn a {
        background: $brand-primary;
    }
}