/*
Theme Name:  Píratar Child
Theme URI:   http://www.gre.is/wordpress-themes/piratar/
Description:  Píratar Tjæld-þema
Template:     piratar
Author:      gre - avj
Author URI:  http://www.gre.is/
Version:     1.0
License:     GPL
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: piratar
*/

/* =Reset
-------------------------------------------------------------- */

/* 
   License: none (public domain)
*/

body {
    font-size: 14px;
    background-color: #fff;
    color:#333;
	font-family: "Montserrat",sans-serif;
    padding:0;
    margin:72px auto 0;
    height: 100%;
    line-height: 1.5;
}

.box {
	min-height: 300px !important;
	float:right !important;
	
}

.ord {
	min-height: 300px !important;
	float:right !important;
}

.nedrabox {
	background-color: white !important;
	color: black !important;
}

.nedrabox a {
	color: #51297e !important;
}

.box p {
	margin-bottom: 0px !important;
}



.frambj_thumb_img {
	width: auto;
	float: left;
    padding: 10px;
}

.frambj_listi {
	display: flex;
	width: 500px;

	height: 500px;
	float:left;
	border: 1px solid #e2e2e2;
	margin: 5px;
}

.thingfolk_text {
	display: block;
}

.narrow2 {
	height: 250px;
    /*width: 240px;*/
    border: none;
    white-space: nowrap;
    text-align: center;
}
.wide2 {
	/* Grow to rest of container */
	flex: 1;
}

.wrapper2 {
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 10px;
    width: calc(100% - 20px);
}

.bgpurple {
    background-color: #51297e;
    color: #FFF;
    padding: 25px;
    height: 250px;
    margin-bottom:25px;
}

.mb30{
    margin-bottom: 30px;
}
.white{
    color: white;
}
.allborder{
    border: 1px solid #e2e2e2;
}
.h500{
    height: 500px;
}
